<body>
	<div class="hotline-phone-ring-wrap">
		<div class="hotline-phone-ring">
			<div class="hotline-phone-ring-circle zalo-circle"></div>
			<div
				class="hotline-phone-ring-circle-fill zalo-ring-circle-fill"
			></div>
			<div class="hotline-phone-ring-img-circle zalo-ring-img-circle">
				<a
					href="https://zalo.me/0942214747"
					class="pps-btn-img"
					target="_blank"
				>
					<img
						src="../assets/icons/Logo_Zalo.png"
						alt="Số zalo"
						width="50"
					/>
				</a>
			</div>
		</div>
		<div class="hotline-phone-ring">
			<div class="hotline-phone-ring-circle"></div>
			<div class="hotline-phone-ring-circle-fill"></div>
			<div class="hotline-phone-ring-img-circle">
				<a href="tel:0942214747" class="pps-btn-img">
					<img
						src="../assets/icons/icon-phone.png"
						alt="Số điện thoại"
						width="50"
					/>
				</a>
			</div>
		</div>
	</div>
</body>
