<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lái xe hộ Buôn Mê Thuột</title>

		<!-- Link Bootstrap -->

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/1dc1877525.js"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

		<!-- Link Font -->

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<!-- Link css  -->

		<link rel="stylesheet" href="../styles/new.css" />
		<link rel="stylesheet" href="../styles/contact-method.css" />

		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-WQXJ996T");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WQXJ996T"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Navigator mobile  -->

		<div id="body_overlay"></div>
		<div class="container-fluid ds">
			<div class="menu-small">
				<div class="row">
					<div class="col-lg-12">
						<nav class="hide menu-mobile">
							<div class="close-wrapper">
								<i class="fa-solid fa-xmark"></i>
							</div>
							<div class="logo-menu-mobile text-center">
								<a href="../index.html"
									><img
										src="../assets/images/logo.png"
										alt=""
								/></a>
							</div>
							<ul>
								<li>
									<a href="../index.html">Trang chủ</a>
								</li>
								<li>
									<a href="./introduce.html">Giới thiệu</a>
								</li>
								<li>
									<a href="./new.html" class="active"
										>Tin tức</a
									>
								</li>
								<li class="find-driver">
									<a href="" class="set-href-phone">
										TÌM TÀI XẾ NGAY
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Navigator web-->

		<div class="container-fluid navigator-web">
			<div class="container">
				<div class="row">
					<div class="navigator">
						<div class="logo-web">
							<img src="../assets/images/logo.png" alt="" />
						</div>
						<div class="menu-items">
							<ul>
								<li>
									<a href="../index.html">Trang chủ</a>
								</li>
								<li>
									<a href="./introduce.html">Giới thiệu</a>
								</li>
								<li>
									<a href="./new.html" class="active"
										>Tin tức</a
									>
								</li>
								<li class="btn-find-driver">
									<a href="" class="set-href-phone">
										TÌM TÀI XẾ NGAY
									</a>
								</li>
							</ul>
						</div>
						<div class="toggle-menu" id="menu-son">
							<i class="fa-solid fa-bars"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- banner-blogs -->

		<div class="container-fluid section-banner">
			<div class="section-bg">
				<div
					class="section-bg-overlay"
					style="background-color: rgb(8 12 57 / 73%)"
				></div>
			</div>
			<div class="container">
				<div class="row padding-bot">
					<div class="col-lg-7" style="z-index: 9">
						<div class="nav">
							<p>
								<a href="">Trang chủ </a
								><span class="separator"> • </span
								><span class="last">Tin Tức</span>
							</p>
						</div>
						<h3 class="single-title">
							Bạn Uống Tôi Lái – Giải Pháp An Toàn Sau Mỗi Cuộc
							Vui
						</h3>
					</div>
				</div>
			</div>
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>

		<!-- blog -->
		<div class="container">
			<div class="row">
				<h4 class="title-new">Tin tức</h4>
			</div>
			<div class="container-blog">
				<div class="blog-item">
					<div class="image-blog">
						<img
							src="../assets/images/new-1.jpg
						"
							alt=""
						/>
					</div>
					<div class="title-description-blog">
						<h4>kinh nghiệm đi taxi mà bạn cần phải biết</h4>
						<p>
							Nếu đã là một dân du lịch bụi chuyên hay chỉ là
							người thích đi du lịch…chắc hẳn bạn nên biết cho
							mình cách làm thế nào để tiết kiệm được $ taxi. Bởi
							không phải ở nơi đâu $ taxi cũng rẻ, nếu không muốn
							nói là đắt đỏ. Vì vậy, biết cho mình cách để làm […]
						</p>
						<div class="btn-read-more">
							<a href="./blog-1.html">Xem thêm</a>
						</div>
					</div>
				</div>
				<div class="blog-item">
					<div class="image-blog">
						<img
							src="../assets/images/new-2.jpg
						"
							alt=""
						/>
					</div>
					<div class="title-description-blog">
						<h4>kinh nghiệm thuê xe đi tỉnh ai cũng nên bỏ túi</h4>
						<p>
							Kinh nghiệm thuê xe du lịch Xác định nhu cầu Hiện
							nay, các nhà xe trang bị rất nhiều loại xe với mẫu
							mã khác nhau phục vụ nhu cầu ngày càng đông của
							khách hàng. Khi có ý định thuê xe đi tỉnh, đi du
							lịch, bạn cần phải xác định rõ nhu cầu, […]
						</p>
						<div class="btn-read-more">
							<a href="./blog-2.html">Xem thêm</a>
						</div>
					</div>
				</div>
				<div class="blog-item">
					<div class="image-blog">
						<img
							src="../assets/images/new-3.jpg
						"
							alt=""
						/>
					</div>
					<div class="title-description-blog">
						<h4>vì sao khách hàng nên chọn dịch vụ lái xe hộ</h4>
						<p>
							Khách hàng nên chọn dịch vụ lái xe hộ vì nhiều lý do
							sau: An toàn: Khi bạn uống rượu hoặc sử dụng chất
							kích thích, nó sẽ làm giảm khả năng phản ứng của bạn
							và làm mất tập trung. Sử dụng dịch vụ lái xe hộ sẽ
							giúp bạn đảm bảo an toàn […]
						</p>
						<div class="btn-read-more">
							<a href="./blog-3.html">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->

		<div class="container-fluid bg-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<img
							src="../assets/images/logo.png"
							alt=""
							class="logo-footer"
						/>
						<p class="title-footer">
							Dịch vụ lái xe hộ Buôn Mê Thuột
						</p>
						<div class="contact-footer-section">
							<a
								href=""
								class="set-href-phone"
								style="color: black; text-decoration: none"
								>Hotline : <span class="set-value-phone"></span
							></a>
							<p class="mt-3">Email : gohomedaklak@gmail.com</p>
							<p>
								Địa chỉ : Thành phố Buôn Mê Thuột, ĐắkLắk, Việt
								Nam
							</p>
							<p>Website : Gohomedakalk.com</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<p class="title-footer">Dịch vụ</p>
						<p>Lái xe hộ đưa người say về nhà</p>
						<p>Dịch vụ tài xế theo ngày</p>
						<p>Dịch vụ taxi đưa đón sân bay</p>
						<p>Dịch vụ cho thuê xe</p>
						<p>Dịch vụ đăng kiểm hộ</p>
						<p>Dịch vụ vận chuyển xe</p>
						<p class="title-footer">Chính sách</p>
						<p>Chính sách quyền riêng tư</p>
					</div>
					<div class="col-lg-5 col-md-5 col-12">
						<p class="title-footer">bản đồ chỉ đường</p>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124569.49820295283!2d107.94530404688723!3d12.661322977888943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7d4216cd2fb%3A0x9f4a5ec2f999fb4!2zVHAuIEJ1w7RuIE1hIFRodeG7mXQsIMSQ4bqvayBM4bqvaywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1761972775284!5m2!1svi!2s"
							width="100%"
							height="310"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
				</div>
			</div>
		</div>

		<!-- contact method -->

		<div class="header-placeholder"></div>

		<!-- import file javascripts -->

		<script src="../js/contact.js"></script>
	</body>
</html>
