* {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 16px;
}

:root {
	--color-main: #3b82f6;
	--bg-over-lay: rgba(0, 0, 0, 0.6);
	--border-bottom-color: rgb(203, 202, 202);
	--box-shadow-navigation-web: rgba(0, 0, 0, 0.15);
	--box-shadow-menu-mobile: 0px 2px 20px 0px rgb(0 0 0 / 24%);
}

/* custome menu mobile */
.ds {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
}
.ds {
	position: relative;
	width: 100%;
	min-width: 150vh;
}
.menu-mobile a.active {
	color: var(--color-main);
	font-weight: bold;
}
.menu-mobile {
	position: fixed;
	width: 290px;
	height: 100%;
	left: 0;
	background-color: #fff;
	box-shadow: var(--box-shadow-menu-mobile);
	z-index: 1100;
	padding: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	animation: slideInMenu 0.5s ease forwards;
	transform: translateX(-100%);
}
.close-wrapper {
	height: 30px;
}
.close-wrapper i {
	font-size: 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 8px 15px 8px 0;
	margin-bottom: 10px;
	color: #0a0a0a;
}
.close {
	height: 34px;
	width: 34px;
	display: block;
	float: right;
	margin: 13px 13px 0 0;
}
#body_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-over-lay);
	z-index: 9002;
	display: none;
	z-index: 0;
	opacity: 0.8;
}
.img-son {
	border-bottom: 1px solid var(--border-bottom-color);
}
@keyframes slideInMenu {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
.menu-mobile ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0 10px;
}
.menu-mobile ul li a {
	width: 100%;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-flex;
	align-items: center;
	font-weight: 600;
}
.menu-mobile .toggle_menu {
	position: absolute;
	top: 20px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.toggle-menu i {
	font-size: 20px;
	margin-right: 10px;
}
nav.hide {
	display: none;
}
.menu-mobile ul li a {
	color: #0a0a0a;
}
.menu-mobile p {
	padding: 15px 0;
	margin: 0;
}

.logo-menu-mobile img {
	width: 180px;
}

.find-driver a {
	color: #fff !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	background-image: var(--color-main);
	padding: 8px 15px;
	border-radius: 99px;
	display: block !important;
	text-align: center;
	margin-top: 10px;
}

.menu-items a.active {
	color: #3b82f6;
	position: relative;
}

.menu-items a.active::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 0;
	right: 0;
	height: 2px;
	background: #3b82f6;
	border-radius: 1px;
}

/* custome menu  */

.navigator-web {
	box-shadow: 1px 1px 10px var(--box-shadow-navigation-web);
	border-bottom: 1px solid #e5e7eb;
	position: sticky;
	top: 0;
	z-index: 100;
	background: white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.navigator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 10px;
}

.logo-web img {
	width: 190px;
}
.menu-items ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding: 0;
	margin: 0;
}
.menu-items ul li {
	list-style: none;
}
.menu-items ul li a {
	text-decoration: none;
	color: #354150;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 10px;
}
.btn-find-driver {
	background-image: linear-gradient(
		269deg,
		#1a1a1a -67.92%,
		var(--color-main) 70%
	);
	padding: 8px 25px;
	border-radius: 99px;
}
.btn-find-driver a {
	color: #fff !important;
	font-size: 12px !important;
	font-weight: 600 !important;
}
.toggle-menu {
	display: none;
}

/* banner-blogs */

.section-banner {
	height: 320px;
	overflow: hidden;
	padding: 30px 0;
	position: relative;
	min-height: auto;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.section-bg {
	position: absolute;
	background-image: url("../assets/images/bg-category.jpg.webp");
	height: 396.667px;
	transform: translate3d(0px, -60.17px, 0px);
	backface-visibility: hidden;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50%;
	width: 100%;
}

.section-bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	right: 0;
	bottom: 0;
	padding: 0 !important;
	margin: 0 !important;
}

.section-banner .nav {
	position: relative;
	z-index: 2;
	color: white;
	font-weight: 200;
}

.section-banner .nav a {
	color: white;
	text-decoration: none;
}

.single-title {
	color: white;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -160px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

/* blog */
.title-new {
	color: var(--color-main);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 20px;
}

.container-blog {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.blog-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.image-blog {
	width: 100%;
	max-width: 280px; /* tuỳ bạn đặt kích thước tối đa */
	aspect-ratio: 4 / 3; /* hoặc 1 / 1 nếu muốn vuông */
	overflow: hidden;
	border-radius: 10px;
}

.image-blog img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	display: block;
}

.title-description-blog {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.title-description-blog h4 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
}

.title-description-blog p {
	font-size: 15px;
}

.title-description-blog a {
	text-decoration: none;
	color: white;
	background: var(--color-main);
	transition: all ease-in-out 0.5s;
	padding: 10px 20px;
}

.title-description-blog a:hover {
	background: #2563eb;
	transition: all ease-in-out 0.5s;
}

/* footer */

.bg-footer {
	background: #f7faff;
	margin-top: 60px;
	padding: 30px 0;
}
.logo-footer {
	width: 230px;
}

.title-footer {
	color: var(--color-main);
	font-weight: 600;
	font-size: 20px;
	margin-top: 10px;
	text-transform: uppercase;
}

/* responsive */

@media (max-width: 480px) {
	.menu-items,
	.title-description-blog p {
		display: none;
	}
	.toggle-menu,
	.mobile-introduce {
		display: block;
	}

	.image-blog {
		max-width: 150px;
		width: auto;
	}

	.title-description-blog h4 {
		font-size: 16px;
	}
	.title-description-blog a {
		font-size: 16px;
		transition: all ease-in-out 0.5s;
		padding: 10px 12px;
	}
}
